@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

.form-header {
  text-align: center;
}

.blog-entry {
  width: 50%;
  margin :auto;
  padding-bottom:10px;
}

.body-entry {
  width:50%;
  margin:auto;
}


.auth-inputs {
  padding: 5px
}