@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

.form-header {
  text-align: center;
}

.blog-entry {
  margin-right: auto;
  margin-left: auto;
  padding-bottom:10px;
}

.auth-inputs {
  padding: 5px
}

.navbar-default {
  background-color: rgba(0,0,0,0.0);
  border-bottom: 0; 
}

.nav-props {
  color: white !important;
}

header {
  background-image: url('../gldn_strands_2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: 0;
  padding: 0;
  width:100%;
  height:63%;  
  position:absolute;
  top:0px
}

body {
  margin: 0;
  padding: 0;
}

.header-text {
  color:white;
  text-align: center;
  position: relative;
  top:20%;
}

.blog-posts {
  margin-top:40%
}