@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

.form-header {
  text-align: center;
}

.blog-entry {
  margin-right: auto;
  margin-left: auto;
  padding-bottom:10px;
}

.auth-inputs {
  padding: 5px
}

.navbar-default {
  background-color: #007FFF;
  border-bottom: 0; 
  border-top:0;
}

.nav-props {
  color: #FFD700 !important;
}

.header {
  background-image: url('../gldn_strands_2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: 0;
  padding: 0;
  width:100%;
  top:0px
}

body {
  margin: 0;
  padding: 0;
}

.header-text {
  color:white;
  text-align: center;
  position: relative;
  top:20%;
}

.blog-body {
  white-space: pre-wrap;
}